<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="JSONPlaceholder API Test Suite" verbose="2">

    <test name="Posts API Tests">
        <classes>
            <class name="api.tests.PostsApiTest"/>
        </classes>
    </test>

</suite>
